body{
    background-image: url("IMG_4710.jpg");
    
}
h2{
    padding: 10px;
    margin: 40px;
    font-variant: small-caps;
    font-family: sans-serif;
}
img{
 height: 50%;
 width: 50%;
 border-radius: 1000px;
}
h1{
    border: 5px black double;
    padding: 5px;
    margin: 20px;
    color: #1C2833;
    outline-style: solid;
    outline-color: #85929E;
    font-family: cursive;
    font-weight: bold
}
a{
    font-weight: bold;
    font-size: 24px;
}
time{
    padding: 10px;
    margin: 40px;
}
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: double;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


